<main>
    <form  #userform="ngForm" (ngSubmit)="receberDados()">
        <div class="campo-label">
            <label for="campo-email">Email</label>
            <input type="email" name="email" id="campo-email" placeholder="Ex.: email@emmail.com" [(ngModel)]="userModel.email">
        </div>
        <div class="campo-label">
            <label for="senha">Senha</label>
            <input type="password" name="password" id="senha" placeholder="Sua senha aqui" [(ngModel)]=userModel.senha>
        </div>

        <button>Fazer login</button>
    </form>
</main>